.img {
    padding: 1%;
}
.img-fluid. max-width: 100% { 
    height: auto;
}
#borderimg { 
    border: 10px solid  gray;
    padding: 15px;
    margin: 0.5%;
}

/*Button Dari W3School*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1f98fc;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 0.5%;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*Pagination Dari W3School*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: rgb(94, 186, 247);
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*Gambar Judul Dari Template*/
.unit-5 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center center;
    }
    .unit-5.overlay {
      position: relative;
      margin-bottom: 1%;
      }
      .unit-5.overlay:before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5); 
    }
    .unit-5 > .container {
      z-index: 2;
      position: relative; 
    }
    .unit-5 h2 {
      color: #fff;
      font-size: 3rem; 
    }
    .unit-6 {
      color: #fff; 
    }
    .unit-6 .sep {
      color: rgba(255, 255, 255, 0.2);
      margin: 0 10px; 
    }

    /*Border text Dari W3School*/

    .borderText {
        border: 0.2em solid rgb(151, 151, 151);
        margin: auto;    
        padding: 3%;
        text-align: center;
        margin-bottom: 4%;
        background-color: white;
        border-radius: 5%;
    }
    .borderText:hover{
        border: 0.2em solid rgb(68, 173, 243);
    }

    /*Image Bundar Dari W3School*/
    .img-rounded {
        border-radius: 50%;
        width: 80%;
    }
 
    /*Rating Dari W3School*/
    .checked {
        color: orange;
    }
    p {
        color:gray;
    }

    /*Grid System Dari W3School*/
    .grid{
		width:100%;
		margin:0;
		clear:both;
		display:flex;
        overflow:hidden;
        flex-wrap: wrap;
    }
    .cl4{
		width:31%;
		height: auto;
		display:inline;
		float:left;
		background-color: rgb(7, 152, 248);
		margin:0 1.0416666666666665%;
    }
    
    /* Responsive PC */

    @media screen and (min-width: 769px) {
        .cl4{
            flex: 0 0 31.2%;
            max-width: 31.2%;
			margin-bottom: 3%;
		}
	}

	/* Responsive Tablet */

	@media screen and (max-width: 768px) {
		.cl4 {
            flex: 0 0 47.91666666666667%;
            max-width: 47.91666666666667%;
			margin-bottom: 1em;
		}
	}

	/* Responsive Mobile */

	@media screen and (max-width: 480px) {
        .cl4 {
            flex: 0 0 97.91666666666666%;
            max-width: 97.91666666666666%;
			margin-bottom: 1em;
		}
    }
    
    /*Style Select buat sendiri*/
    select{
        padding: 1%;
        border: 2px solid rgb(151, 151, 151);
        font-style: oblique;
        margin: 2%;
    }
    select:hover{
        border: 2px solid rgb(7, 152, 248);
        font: outline;
    }